body{
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
  color: #444;
}

/*Aqui foi alterado para max-width, ou seja a largura máxima que o elemento
pode chegar.*/
#container{
  max-width: 1128px;
}

a{
  color: #00ccff;
  text-decoration: none;
  font-size: 12px;
}

p{
  font-size: 20px;
}

a:hover{
  text-decoration: underline;
}

/*Aqui foi alterado para max-width, ou seja a largura máxima que o elemento
pode chegar.*/
img{
  max-width: 100%;
}


.cabeçalho{
  width: 100%;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo{
  float: left;
}

.menu{
  float: right;
}

/*Esta declaração não foi compreendida!
Pois se você declarou a UL como class=menu, não entendi porque
 usou ul li?
 Já que declarou porque não fez como acima, .menu li{}?*/
ul li{
  float: right;
  display: inline;
  font-size: 14px;
  margin-left: 24px;
  margin-top: 12px;
/*A propriedade para retirar o estilo da lista é
 list-style:none e não text-decoration: none;
*/
list-style:none;
}

.menu a{
  font-size: 20px;
  color: #999;
}

.banner{
  height: 450px;
  margin-bottom: 55px;
  position: relative;
}

.box{
  width: 480px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
  position: absolute; top: 180px;
  background-color: rgba(0, 0, 0, 0.6);
}

.box p{
  font-size: 20px;
  color: #fff;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto;
  font-size: 48px;
  font-weight: 200;
  color: #fff;
}

.rodape{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  font-size: 30px;
}

.rodape p{
  margin-bottom: 0;
}

.rodape small{
  font-size: 18px;
}

/*
Este tipo de declaração não é usual
pois a classe precede os elementos!
Sempre crie de forma que a classe seja a
 precedente dos elementos.
*/
.rodape a{
  font-size: 15px;
}
